<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Settings</title>
  <link rel="stylesheet" href="/style.css">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet"
  />
  <link
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet"
  />
  <link
          href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
          rel="stylesheet"
  />

  <script
          type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"
  ></script>

</head>
<body>

<!--/*@thymesVar id="currentUser" type="ru.timur.project.Hubr.dto.UserDTO"*/-->
<div th:insert="${currentUser != null} ? ~{fragments/navbar :: navbarForUser (user = ${currentUser})} :
 ~{fragments/navbar :: navbarForAnon}"></div>

<!--/*@thymesVar id="user" type="ru.timur.project.Hubr.dto.UserDTO"*/-->
<div class="container">
  <div class="container-xl px-5 mt-4">
    <hr class="mt-0 mb-4">
    <div class="row">
        <!--/*@thymesVar id="user" type="ru.timur.project.Hubr.dto.UserDTO"*/-->
      <div class="col-xl-8">
        <!-- Account details card-->
        <div class="card mb-4">
          <div th:insert="~{fragments/settingsTab :: settingTab (message = ${message})}"></div>
          <div class="card-body">
            <form th:method="PATCH" th:action="@{/auth/settings/email/{id}(id=${user.getId()})}"
                  th:object="${user}">
              <input type="hidden" th:field="*{role}">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
              <!-- Form Group (username)-->
              <div class="mb-3">
                <label class="small mb-1" for="email">Email</label>
                <input class="form-control" id="email" type="email"
                       name="email">
                <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
              </div>
              <!-- Form Group (email address)-->
              <div class="mb-3">
                <label class="small mb-1" for="emailConf">Confirm email</label>
                <input class="form-control" id="emailConf" type="email"
                       name="emailConf">
                <div style="color: red" th:if="${#fields.hasErrors('emailConf')}" th:errors="*{emailConf}"></div>
              </div>
              <!-- Save changes button-->
              <button class="btn btn-primary" type="submit">Save changes</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
