
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>john</title>
  <link rel="stylesheet" href="/static/style.css">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link
          href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
          rel="stylesheet"
  />

  <link rel="stylesheet" href="/profileStyle.css">


</head>
<body>


<div><div>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
              class="navbar-toggler"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 80px" href="/posts/all">All posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/all">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tags">Tags</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->

      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Avatar -->
        <div class="dropdown" style="margin-right: 70px">
          <a
                  class="dropdown-toggle d-flex align-items-center hidden-arrow"
                  href="#"
                  id="navbarDropdownMenuAvatar"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
          >
            <img
                    src="https://icon-library.com/images/anonymous-avatar-icon/anonymous-avatar-icon-25.jpg"
                    class="rounded-circle"
                    height="25"
                    loading="lazy"
            />
          </a>
          <ul
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="navbarDropdownMenuAvatar"
          >
            <li>
              <a class="dropdown-item" href="/auth/reg">Sign up</a>
            </li>
            <li>
              <a class="dropdown-item" href="/auth/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</div></div>


<div class="container">
  <div class="profile">
    <div class="profile-header">
      <div class="profile-header-cover"></div>
      <div class="profile-header-content">
        <div class="profile-header-img" style="width: 200px; height: 120px">
          <img src="/images/userImg/defaultAvatar.png" height="150px" alt="" />
        </div>

        <div><div>
          <ul class="profile-header-tab nav nav-tabs nav-tabs-v2">
            <li class="nav-item">
              <a class="nav-link">

                <a href="/users/27" class="nav-link">
                  <div class="nav-field">Profile</div>
                </a>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link">
                <a href="/users/27/subscribers" class="nav-link">
                  <div class="nav-field">Subscribers</div>
                  <div class="nav-value">1</div>
                </a>
              </a>
            </li>


          </ul>
        </div></div>

      </div>
    </div>
    <div class="profile-container">
      <div class="profile-sidebar">
        <div class="desktop-sticky-top">
          <h4>john</h4>
          <nobr>Description: </nobr>
          <p></p>
          <div class="mb-1">
            <p>Country: not specified</p></div>
          <div class="mb-3">Gender not specified</div>
          <hr class="mt-4 mb-4" />
        </div>
      </div>

      <div class="profile-content">

      </div>
    </div>
  </div>
</div>
</body>
</html>